<footer class="footer__princ">
        <p class="footer__span">Copyright © 2023 Digital Movies<br><br>
        El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Digital Movies. Las fotos son a modo ilustrativo.</p>
</footer>